<% provide(:title, 'Edit Event') %>
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>
    <div class="container">
        <!-- Example row of columns -->

        <div class="row">
            <div class="col-md-9 col-md-offset-1">
            <br>
                         <legend><h1> Edit the event</h1></legend>
                       <%= render "form", title: 'Update Event' %>
                                                
               
            </div>
        </div>

        
    </div>
</body>
</html>


