<% provide(:title, 'New Event') %>
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>
    <div class="container">
     
                       <%= render "form" %>

                          
               
    </div>
    

        
    
</body>
</html>
