<% provide(:title, 'Choice') %>
<hr class="">
    <div class="container target">
        <div class="row">
            <div class="col-sm-8">
                <% @choice.each do |v| %> 
                <%= v.value.name %><br />
            </div>
            <div class="row">
                
            </div><% end %>
        </div>
    </div>
</div>
                                



