<% provide(:title, 'About') %>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class=".col-md-6 .col-md-offset-3">



</div>
</div>
</div>

<div class="page-header">
<h1 align="left">What is this website for? </h1></div>
<p align="left"> <p>The purpose of this website is to help people get the most out of life. The truth is, if you don't love what you do for work, then you can't truly be good at it. The same goes for life. Holding the lessons from this website close to your heart will make life decisions easier and lead to greater happiness.  </p>
<br/>
<div class="page-header">
<h1 align="left">Why we built it </h1></div>
<p align="left"> <b>Lorem ipsum</b> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
 
 <br/><br/><br/><br/>

 
 <!--
<div class="page-header">
<h1 align="center"> Contact Us </h1></div>
<palign="center"> We're constantly seeking ways to improve the application. If you have any questions, comments, or concerns:
</br><a href="mailto:josh@joshborin.com?Subject=Hey%20there%20Josh" target="_top">Josh@joshborin.com</a>
</br><a href="https://twitter.com/joshborin">@joshborin</a> on Twitter</p>

<div class="btn-toolbar">
  <div class="btn-group">
    <a href="#" class="btn btn-default btn-lg">Why Konverge?</a>
    <a href="#" class="btn btn-default btn-lg">How it work</a>
    <a href="#" class="btn btn-default btn-lg">Who can use Konverge?</a>
  </div>
</div>
<div class="container">
    <!-- Example row of columns -->
   <!-- <div class="row">
      
      <div class="col-md-4">
<h4 align="center"> Anonymity</h4><p align="center">Event attendies remain anonymous until sign up closes. Then, contact information is shared to ease any last minute changes </p> 
    </div>
    <div class="col-md-4">
<h4 align="center"> ITEM 2</h4><p align="center">Be respoectful of colleagues and try to not waste their time </p> 
    </div>  
<div class="col-md-4">
<h4 align="center"> Item 3</h4><p align="center">We're searching for feedback. Let us know about yorue experience </p> 
    </div>
    </div></div> --!>
