<% provide(:title, 'Contact') %>
<h1> Contact</h1>

 
<p>If you have any questions or comments, please reach out:
</br><a href="mailto:josh@joshborin.com?Subject=Hey%20there%20Josh" target="_top">Josh@joshborin.com</a>
</br><a href="https://twitter.com/joshborin">@joshborin</a> on Twitter</p>



