<% provide(:title, '') %>
<% provide(:jumbotron, ' 
      <h1><strong>What do you value?</strong></h1>

      <p>Sample text goes here. Loerm asdmiomf imdasoimdaoijad</p>
      <br/>
       <p><a class="btn btn-primary btn-lg" role="button" href="/values">Discover your values &raquo;</a></p>
  ' .html_safe)%>



  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <h2>Why are we doing this?</h2>
        <p>Knowing your values can be an incredible tool to maximizing happiness in your life </p>
        
    </div>
  </div>


</body>
</html>